@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Open+Sans:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noticia Text', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw;
    height: 100vh; */
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 40vw;
    background-image: url("./img/deer.jpg");
    background-size: 100vh;
    background-position: center;
}

.left-container p {
    background-color: rgba(255, 255, 255, 0.295);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    margin: 0;
}

.left-container p a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

img[src$=".svg"] {
    max-width: 100px;
    padding-right: 20px;
}

.logo {
    width:inherit;
    background-color: #000000ce;
    color: white;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    padding: 20px 0;
}

/* Top Right Section */

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    width: 60vw;
    background-color: rgb(250, 250, 250);
}

.right-container > :first-child{
    max-width: 800px;
    padding: 0 120px 50px 50px;
}

/* Middle Right Section */

.right-container > :nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0 50px 30px 50px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19), 0 -1px 5px 0 rgba(0, 0, 0, 0.103);
}

.input-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 800;
    color: rgb(48, 48, 48);
    border: none;
    align-items: stretch;
    padding: 0;
    letter-spacing: 1.5px;
}

label {
    flex-grow: 1;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

input {
    border-radius: 4px;
    font-size: 16px;
    flex-grow: 1;
}

.input-wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 60px;
    margin-bottom: 15px;
    position: relative;
}

#password:invalid:focus, #confirm-password:invalid:focus {
    /* border: solid red 1px; */
    outline: red solid 2px;
}

#after-password {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 100%;
}



/* Bottom Right Section */

.right-container > :last-child {
    padding: 40px 0 0 50px;
    font-size: 16px;
}

#button{
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    background-color: #515a24;
    color: white;
    font-weight: 900;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.301);
}

#button:hover {
    background-color: #464e1f;
}

#button:active {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.527);
    background-color: #363b17;
}
